In [1]:
import numpy as np

In [8]:
a=1
b=2
print(a==b) # 두 수는 같은가?
print(a<=b) # a는 b보다 작거 같은가?

False
True

In [7]:
a=b
print(a==b) # b값이 2가 a에게 이미 할당되어 두수는 모두 2이다.

True

In [12]:
c = list(range(1, 11)) # 1~10까지 숫자로 이뤄진 리스트
c = c*10
print(c)
d = np.arange(1, 11)
d = d*10
print(d)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[ 10  20  30  40  50  60  70  80  90 100]

In [17]:
a = '남자'
if a == '남자':
    print('이 분은 %s입니다.' % a)

    print('남자일 때만 출력됩니다.')

이 분은 남자입니다.
남자일 때만 출력됩니다.

In [19]:
a = '남자'
if a == '여자':
    print('이 분은 %s입니다.' % a)

print('들여쓰기 하면 아무나 출력됩니다.')

들여쓰기 하면 아무나 출력됩니다.

In [14]:
l = ['여자', '여자', '여자', '여자', '남자', '여자', '남자']
if (l == '남자'):
    print(l)

In [15]:
a = 10

['여자', '여자', '여자', '여자', '남자', '여자', '남자']

In [23]:
a = '사과'

if (a == '배'):
    print('pear!')
elif (a == '수박'):
    print('watermelon!')
elif (a == '사과'):
    print('apple!')
else:
    print('nothing!')

apple!

In [24]:
sum = 0

for i in range(1, 11):
    sum += i

print(sum)

55

In [25]:
sum = 0

for i in range(2, 101, 2):
    sum += i
    
print(sum)

2550

In [26]:
names = ['Albert', 'Bettie', 'Charles', 'Daniel', 'Elizabeth']
for name in names:
    print(name)

Albert
Bettie
Charles
Daniel
Elizabeth

In [27]:
names = ['Albert', 'Bettie', 'Charles', 'Daniel', 'Elizabeth']
for i, name in enumerate(names):
    print(i, name)

0 Albert
1 Bettie
2 Charles
3 Daniel
4 Elizabeth

In [28]:
a = '사과'
if a=='사과': print('apple!')

apple!

In [29]:
print('apple!') if a=='사과' else print('nothing!')
print('apple!' if a=='사과' else 'nothing!')

apple!
apple!

In [37]:
[i for i in range(1, 11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [39]:
x = ['10' if name == 'Daniel' else name for name in names]
print(x)

['Albert', 'Bettie', 'Charles', '10', 'Elizabeth']